.row {
  width: 100%;
  float: left;
  padding-top: 0.5cm;
}

.img-header-left {
  width: 1.5cm;
  height: 1.5cm;
  float: left;
}

.img-header-right {
  width: 1.5cm;
  height: 1.5cm;
  float: right;
}

.title-header {
  font-size: 14pt;
  font-weight: bolder;
  width: 16cm;
  float: left;
}

.text-center {
  text-align: center;
  vertical-align: center;
}

.text-left {
  text-align: left;
  vertical-align: center;
}

.vertical {
  vertical-align: middle;
}

.student_identity {
  font-weight: bolder;
  border: 1px solid #333;
}

.student_identity tr:nth-child(2n + 0) {
  background-color: rgba(0, 0, 0, 0.05);
}

.student_identity tr {
  border-bottom: 1px solid #333;
}

.student_identity tr td {
  padding-left: 3px;
  font-size: 12px;
}

.student_identity tr td span {
  font-weight: normal;
}

.row_half {
  width: 50%;
  float: left;
  padding-top: 0.5cm;
}

.points {
  background-color: #000;
  font-size: 8pt;
  font-weight: normal;
}

.points th {
  background-color: #900;
  color: #fff;
}

.points td {
  background-color: #fff;
}

.answers {
  background-color: #000;
  margin-top: -2px;
}

.answers th {
  background-color: #900;
  color: #fff;
  font-size: 8pt;
  width: 2cm;
}

.answers td {
  background-color: #fff;
  font-size: 5pt;
  width: 2.5cm;
}

.results {
  background-color: #000;
  margin-bottom: -2px;
}

.results th {
  background-color: #900;
  color: #fff;
  font-size: 8pt;
}

.results th:first-child {
  width: 2cm;
  white-space: nowrap;
  overflow: hidden;
  max-width: 2cm;
}

.results td {
  background-color: #fff;
  font-size: 6pt;
  width: 2.5cm;
  text-align: left;
  padding-left: 5px;
}

.kazanim_title {
  width: 50%;
  float: left;
  font-size: 8pt;
  overflow: hidden;
}

.kazanim_title span {
  width: 100%;
  text-align: center;
}

.kazanim_title span:first-child {
  font-size: 8pt;
  width: 100%;
}

.kazanim_title:nth-child(4n-1),
.kazanim_title:nth-child(4n) {
  background-color: rgba(0, 0, 0, 0.05);
}

.kazanim_title:nth-child(-n + 2) {
  border-bottom: 1px solid #999;
  /*border:border-box;*/
}

.kazanim_title:nth-child(-n + 2) span:first-child {
  text-align: center;
}

.kazanim_title:nth-child(n + 3) {
  border-bottom: 1px solid #333;
}

.question {
  display: block;
  float: left;
  width: 0.15cm;
}

.question:nth-child(10n + 1) {
  margin-left: 0.31cm;
}

.question:first-child {
  margin-left: 0.21cm;
}

.question_answer,
.student_answer {
  float: left;
  width: 0.2cm;
  font-size: 6pt;
}

.answers tr:first-child td {
  width: 1.8cm;
  max-width: 1.8cm;
  overflow: hidden;
}

.answers_title {
  font-size: 7pt;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  max-width: 1.5cm;
}

.answers_title span {
  font-size: 6pt !important;
}

.kazanim_title {
  display: grid;
  grid-template-columns: auto 24px 24px 24px 24px;
  align-items: center;
  height: 24px;
}

.kazanim_title span:first-child {
  overflow: hidden;
  max-height: 24px;
}

.clear {
  clear: none;
}

.question.state-2 {
  background-color: rgba(255, 0, 0, 0.08);
}

.question.state-3 {
  background-color: black;
}

td,
th {
  text-align: center;
}

.student_identity td,
.student_identity th {
  text-align: left;
}

table {
  width: 100%;
}
